@import url('https://fonts.googleapis.com/css?family=Marck+Script|Anton|Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  background-color: #cdcdcd;
  font-size: 3em;
  margin: 5%
}
.header{
  margin: 1%;
}
h1 {
  font-size: 3em;
  font-weight: bold;
}
.main-content {
  font-size: 1.5em;
}
img {
  margin: auto;
  display: block;
}
#skies:first-letter{
  text-transform: capitalize;
}
#tempCelsius {
  display: none;
}
.humidity{
  font-size: 0.75em;
  font-style: italic;
}
button {
  color: #000;
  font-family: 'Playfair Display SC', serif;
  background-color: #FFF;
  border: none;
  border-radius: 10px;
  padding: 0.5% 1.5%;
  margin: 2%;
}
footer {
  margin: 2%;
}
footer h5 {
  margin: 2%;
  font-family: 'Marck Script', cursive;
  font-size: 0.75em;
}
.Clear{
  background-image: url("https://static.pexels.com/photos/278927/pexels-photo-278927.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #000;
}
.Partly.Cloudy{
  background-image: url("https://static.pexels.com/photos/97558/pexels-photo-97558.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #000;
}
.Mostly.Cloudy {
  background-image: url("https://images.pexels.com/photos/414634/pexels-photo-414634.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFF;
  text-shadow: 3px 3px 2px #000;
}
.Rain {
  background-image: url("https://static.pexels.com/photos/27629/pexels-photo-27629.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFF;
}
.Thunderstorm{
  background-image: url("https://static.pexels.com/photos/28774/pexels-photo-28774.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFF;
}
.Snow{
  background-image: url("https://images.pexels.com/photos/60561/winter-snow-nature-60561.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #000;
}
