@import url('https://fonts.googleapis.com/css?family=Marck+Script|Playfair+Display+SC:700|Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  background-color: #cdcdcd;
  font-size: 3em;
  margin: 5%
}
.jumbotron{
  background-color: #cdcdcd;
  margin: -1%;
}
h1 {
  font-family: 'Playfair Display SC', serif;
}
.main-content {
  font-size: 1.5em;
}
img {
  margin: auto;
  display: block;
}
#skies:first-letter{
  text-transform: capitalize;
}
#tempCelsius {
  display: none;
}
.humidity{
  font-size: 0.75em;
  font-style: italic;
}
button {
  color: #000;
  font-family: 'Playfair Display SC', serif;
  background-color: #FFF;
  border: none;
  border-radius: 10px;
  padding: 0.5% 1.5%;
  margin: 2%;
}
footer {
  margin: 2%;
}
footer h5 {
  margin: 2%;
  font-family: 'Marck Script', cursive;
  font-size: 0.75em;
}
